{% load filters %}

<div class="modal fade" id="item-{{ item.pk }}-modal" tabindex="-1"
     aria-labelledby="item-{{ item.pk }}-modal-label" aria-hidden="true">
    <div class="modal-dialog {{ modal_size }} modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="item-{{ item.pk }}-modal-label">{{ item }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    {% for field, value in item.instance_dict.items %}
                        <div class="row">
                            <div class="col-md-5">
                                <b>{{ field }}:</b>
                            </div>
                            <div class="col-md-7" style="word-wrap: anywhere;">
                                {% if value|is_dict %}
                                    {% if value.is_error and value.value %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ value.value }}
                                        </div>
                                    {% else %}
                                        {{ value.value|default:"–" }}
                                    {% endif %}
                                {% else %}
                                    {{ value|default:"–" }}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>