{% extends 'base.html' %}
{% load cache %}

{# Кэшируется на 24 часа #}
{% cache 86400 error403_csrf %}
    {% block main %}
        <div class="row align-items-center centered">
            <div class="mx-auto">
                <div class="text-secondary">
                    403: Невалидный CSRF-токен ⛔️
                    <br><small>Попробуйте вернуться назад и обновить страницу.</small>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
{% endcache %}