{% extends 'base.html' %}
{% load cache %}

{# Кэшируется на 24 часа #}
{% cache 86400 error500 %}
    {% block main %}
        <div class="row align-items-center centered">
            <div class="mx-auto">
                <div class="text-secondary">
                    Извините, произошла системная ошибка 😔
                    <br><small>Нам уже пришло уведомление о ней.</small>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
{% endcache %}